.productCard {
    display: flex; /* Define um layout flexível */
    align-items: flex-start; /* Alinha os itens no topo */
    background-color: #f9f9f9; /* Cor de fundo opcional */
    border: 1px solid #ddd; /* Borda opcional */
    border-radius: 8px; /* Arredondamento das bordas */
    padding: 16px; /* Espaçamento interno */
    margin-bottom: 16px; /* Espaçamento entre os cards */
  }
  
  .productCard img {
    width: 120px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 16px; /* Espaçamento entre a imagem e o texto */
    border-radius: 8px; /* Opcional: deixa a imagem com bordas arredondadas */
  }
  
  .info {
    flex: 1; /* Faz o texto ocupar o espaço restante */
  }
  
  .info h3 {
    font-size: 1.2rem; /* Tamanho da fonte para o título */
    margin-bottom: 8px; /* Espaçamento abaixo do título */
  }
  
  .info p {
    margin: 0 0 8px 0; /* Remove margens superiores e define espaçamento inferior */
    font-size: 1rem; /* Tamanho da fonte do texto */
    color: #555; /* Cor do texto */
  }
  
  .info .price {
    font-weight: bold; /* Destaca o preço */
    color: #48a17d; /* Cor do preço */
  }
  

/* Media query para telas maiores */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .product-card {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .product-card {
        width: 30%;
    }
}

